.qr-left-col {

}

.qr-right-col {

}

.intro-text-subtitle-qr {
    font-size: 21px;

    text-align: justify;
    font-family: 'Lato', sans-serif;
    color: #8A8A8A;
}

.intro-heading-qr {
    margin-top: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 45px;
}

.qr-img {
    height: 300px;
}


/*EXTRA SMALL SCREEN SIZE*/
@media only screen and (max-width: 567px) {
    .qr-right-col {
        display: none;
    }

    .container {
        margin-top: 5px !important;
    }

}


/*MEDIUM SCREEN SIZE  (md in bootstrap)*/
@media only screen and (max-width: 820px) {
    .qr-img {
        height: 200px
    }
}
