.dine-in-left-col {
    display: flex;
    justify-content: center;
}

.dine-in-right-col {
    padding-top: 80px;
}

.img-dinein {
    max-width: 100%;
    margin-top: 70px;
    margin-left: 50px;
    padding: 20px;
    height: 400px;
}

.intro-text-subtitle {
    font-size: 21px;
    margin-right: 20%;
    text-align: justify;
    font-family: 'Lato', sans-serif;
    color: #8A8A8A;
}

.intro-heading {
    margin-top: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 30px;
}

/*EXTRA SMALL SCREEN SIZE*/
@media only screen and (max-width: 567px) {
    .dine-in-left-col {
        display: none;
    }

    .dine-in-right-col {
        display: grid;
        justify-content: center;
        margin-top: 0px;
    }

    .intro-heading {
        font-size: 25px;
    }

    .intro-text-subtitle {
        font-size: 18px;
        margin-right: 0;
    }

}


/*MEDIUM SCREEN SIZE  (md in bootstrap)*/
@media only screen and (max-width: 820px) {
    .img-dinein {
        height: 250px;
    }

    .intro-heading {
        font-size: 25px;
        margin-top: 20px;
        text-align: left;
    }

    .intro-text-subtitle {
        font-size: 16px;
    }

}
