/*Author : Rohan Patel*/

.scrollContainer {
    overflow-y: scroll;
    height: 80vh;
}

.orderItemCard:hover {
    background-color: #FFBD39 !important;
    transition-duration: 200ms;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0033CC;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0033CC;
}