.signup-left-col {
    display: grid;
    justify-content: center;
    padding-top: 50px;
}

.signup-right-col {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30em;
}

.signup-title {
    font-family: Lato;
    color: #2B2152;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 15px;
}

.terms-privacy-text {
    font-family: Lato;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #AAAEAE;
    margin-top: 22px;
}

.signup-button {
    margin-top: 15px;
    display: block;
    width: 100%;
    height: 56px;
    background: #364EB8;
    border: none;
    color: white;
    box-shadow: 0px 18px 48px -10px rgba(54, 78, 184, 0.35);
    border-radius: 15px;
}

.signup-button:hover {
    background: #2e429e;
    transition-duration: 0.3s;
}

.img-rocket {
    height: 300;
}


/*EXTRA SMALL SCREEN SIZE*/
@media only screen and (max-width: 567px) {
    .signup-title {
        font-size: 25px;
    }

    .terms-privacy-text {
        font-size: 11px;
    }

}


/*MEDIUM SCREEN SIZE  (md in bootstrap)*/
@media only screen and (max-width: 820px) {
    .signup-right-col {
        display: none;
    }
}
