.login-left-col {
    display: grid;
    padding-top: 130px;
}

.login-right-col {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30em;
}

.login-title {
    font-family: Lato;
    color: #2B2152;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 15px;
}

.terms-privacy-text {
    font-family: Lato;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #AAAEAE;
    margin-top: 22px;
}

.login-button {
    margin-top: 15px;
    display: block;
    width: 100%;
    height: 56px;
    background: #364EB8;
    border: none;
    color: white;
    box-shadow: 0px 18px 48px -10px rgba(54, 78, 184, 0.35);
    border-radius: 15px;
}

.login-button:hover {
    background: #2e429e;
    transition-duration: 0.3s;
}

.img-bro {
    margin-top: 20%;
    height: 500px;
}

.password-div {
    position: relative;
}

.show-pwd {
    background-color: #FAFAFA;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 55px;
    position: relative;
    top: 14.9px;
    padding-right: 20px;
    color: #2B2152;
}

/*EXTRA SMALL SCREEN SIZE*/
@media only screen and (max-width: 567px) {
    .login-title {
        font-size: 25px;
    }

    .terms-privacy-text {
        font-size: 11px;
    }

    .login-left-col {
        padding-top: 50px;
    }

    .show-pwd {
        height: 45px;
    }

}


/*MEDIUM SCREEN SIZE  (md in bootstrap)*/
@media only screen and (max-width: 820px) {
    .login-right-col {
        display: none;
    }

    .login-left-col {
        padding-top: 50px;
    }
}
