/*Author : Rohan Patel*/

.restaurant-name-holder {
    background-color: #15db95;
    display: grid;
    justify-content: center;
    padding: 10px;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 15px;
    color: white;
}
.mouse-pointer{
    cursor: pointer;
}
