/*Author : Rohan Patel*/
.custom-input-field {
    width: 100%;
    height: 55px;
    background: #FAFAFA;
    border: none;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
}


/*EXTRA SMALL SCREEN SIZE*/
@media only screen and (max-width: 567px) {
    .custom-input-field {
        height: 45px;
        border-radius: 10px;
    }
}

/*MEDIUM SCREEN SIZE  (md in bootstrap)*/
@media only screen and (max-width: 820px) {

}