.row-1 {
    margin-left: 20px;
}

.row-2 {

}

.phone-img {
    height: 125px;
}

.gift-img {
    height: 120px
}

.time-img {
    height: 120px;
}

.clip-img {
    height: 120px
}

.why-us-heading {
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    font-weight: 800;
}

.why-us-subtitle {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: left;
    color: #8A8A8A;
}

.why-us-title {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin-left: 85px;
}


/*EXTRA SMALL SCREEN SIZE*/
@media only screen and (max-width: 567px) {
    .why-us-heading {

    }

    .row-1 {
        margin-left: 15px;
    }

}


/*MEDIUM SCREEN SIZE  (md in bootstrap)*/
@media only screen and (max-width: 820px) {
    .phone-img {
        height: 90px;
    }

    .gift-img {
        height: 90px;
    }

    .time-img {
        height: 90px;
    }

    .clip-img {
        height: 90px;
    }

    .why-us-subtitle {
        font-size: 15px;
    }

    .why-us-heading {
        font-size: 20px;
    }
}
