.main-page {

}

.restaurant-name {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 45px;
    margin-left: 15px;
    color: #364EB8
}

.intro-line {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 45px;
}

.grow-with-us-button {
    margin-top: 25px;
    width: 400px;
    height: 52px;
    border: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background: #364EB8;
    box-shadow: 0px 18px 48px -10px rgba(54, 78, 184, 0.35);
    border-radius: 15px;
}

.grow-with-us-button:hover {
    background: #2e429e;
    transition-duration: 0.3s;
}

.market-line {
    margin-top: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #8A8A8A;
}

.main-left-content {
    padding-top: 12%;
}

.main-right-content {
    padding-top: 10%;
    overflow: visible;
}

.metrics-image {
    margin-left: 35px;
}

/*EXTRA SMALL SCREEN SIZE*/
@media only screen and (max-width: 567px) {
    .restaurant-name, .intro-line {
        font-size: 35px;
    }

    .market-line {
        font-size: 15px;
    }

    .grow-with-us-button {
        width: 140px;
        height: 45px;
        font-size: 15px;
    }

    .metrics-image {
        display: none;
    }
}


/*MEDIUM SCREEN SIZE  (md in bootstrap)*/
@media only screen and (max-width: 820px) {
    .metrics-image {
        height: 220px;
    }

    .restaurant-name, .intro-line {
        font-size: 35px;
    }

    .market-line {
        font-size: 15px;
    }

    .grow-with-us-button {
        width: 140px;
        height: 45px;
        font-size: 15px;
    }
}

/*LARGE SCREEN SIZE   (lg in bootstrap)*/
@media only screen and (max-width: 992px) {

}
