.nav-restaurant-button {
    background: transparent;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-weight: bolder;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    color: white;
}

.nav-restaurant-button:hover {
    transition-duration: 0.3s;
    color: #FE9E0C;

}

.nav-item:hover {
    border-radius: 50px;
}

/*EXTRA SMALL SCREEN SIZE*/
@media only screen and (max-width: 567px) {
    .nav-restaurant-button {
        background: #FE9E0C;
        color: white;
    }

    .nav-restaurant-button:hover {
        background: #E88800;
        color: white;
    }
}


/*MEDIUM SCREEN SIZE  (md in bootstrap)*/
@media only screen and (max-width: 820px) {
}

/*LARGE SCREEN SIZE   (lg in bootstrap)*/
@media only screen and (max-width: 992px) {
}
