body {
    margin: 0px;
    padding: 0px;
    height: 100vh;


}

.loader {
    transition: all linear 0.3s;
    background: #E5EaF5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader div {
    background: #fff;
    width: 16px;
    height: 32px;
    margin-left: 10px;
    transition: all 300ms;
    animation: loader 1.2s infinite;
}

@keyframes loader {
    50% {
        height: 64px;
    }
}

.loader div:nth-child(1) {
    background: #FF9F1A;
    animation-delay: -.40s;
}

.loader div:nth-child(2) {
    background: #FED330;
    animation-delay: -.20s;
}

.loader div:nth-child(3) {
    background: #FFFA95;
    animation-delay: -.0s;
}