/*Author : Vishvakumar Mavani*/

.restaurantButton {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 25px;
    font-family: Lato;
}

.restaurantButton:hover {
    background-color: navajowhite;
    transition: 400ms;
}

.navigationBar {
    padding-top: 10px;
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    text-transform: capitalize;
    color: #000000;
}

.title {
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    text-transform: capitalize;
    color: #000000;
}


.para {
    position: absolute;
    margin-top: 10px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;

    color: #8A8A8A;
}

.inputPhone {
    border-radius: 20px;
    margin-top: 115px;
    position: absolute;
    font-family: Lato;
    font-size: 20px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #8A8A8A;
    box-shadow: 0px 18px 48px -12px rgba(0, 0, 0, 0.8);

    border: none;

}

.images {
    margin-top: 200px;
    margin-left: 5px;
}

.getApp {
    width: 100px;
    border: transparent;
    margin-top: 115px;
    margin-left: 250px;
    position: absolute;
    background: #FE9E0C;
    border-radius: 50px;

    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 40px;
    display: flex;
    text-transform: capitalize;
    justify-content: center;

    color: #FFFFFF;
}

.leftContent {
    margin-top: 100px;
}

.rightContent {
    margin-top: 100px;
}

.circle {
    position: absolute;
    width: 800px;
    height: 700.05px;
    left: 820px;
    background: #FE9E0C;
    mix-blend-mode: normal;
    border-radius: 500px;
    transform: rotate(-50deg);
    top: -185px;
}

@media only screen and (max-width: 768px) {
    .restaurantButton {
        color: #06af7d;
    }

    .leftContent {
        margin-top: 50px;
        padding-top: 50px;
    }

    .title {
        font-size: 30px;
    }

    .para {
        font-size: 20px;
    }

    .inputPhone {
        font-size: 17px;
        margin-top: 115px;
    }

    .getApp {
        font-size: 17px;
        margin-top: 115px;
        margin-left: 210px;
    }

    .images {
        margin-left: 0px;
    }

    .circle {
        position: absolute;
        width: 500px;
        height: 450.05px;
        left: 420px;
        background: #FE9E0C;
        mix-blend-mode: normal;
        border-radius: 500px;
        transform: rotate(-50deg);
        top: -85px;
    }

    .dish {
        height: 250px;
    }

    .restaurantButton {
        font-size: 15px;
    }
}

@media only screen and (max-width: 567px) {
    .restaurantButton {
        color: #0033cc;
    }

    .rightContent {
        display: none;
    }

    .circle {
        display: none;
    }

    .leftContent {
        margin-left: 30px;
    }

    .title {
        font-size: 40px;
    }

    .para {
        font-size: 20px;
    }

    .logo {
        margin-left: 15px;
    }
}

