/*Author : Jay Patel*/

.restaurant-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: 30px;
}


.btn1 {
    border: 2px solid white;
    color: white;
    background-color: blueviolet;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 16px;

    margin-top: 10px;

}

#formtoupload {
    margin-left: 50px;
    margin-top: 20px;
}


.md-form {
    margin-left: 130px;
}

.inputUpload {
    margin-left: 20px;
}

#logoFile:hover {

    background-color: white;
    border: 2px solid blueviolet;
    color: blueviolet;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.avatar-pic {
    width: 150px;
    border-radius: 50%;
}

#newavatar {
    width: 150px;
    height: 150px;
}

.newavatar {
    height: 200px;
    width: 200px;
}